#app{
  font-family: Helvetica;
  overflow-x: hidden;
  cursor: none;

}

.circle-cursor {
  width: 20px;
  height: 20px;
  background-color: #ffbd59;
  border-radius: 50%;
  position: fixed; /* Fixed to the viewport */
  pointer-events: none; /* Prevent interaction issues */
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 9999; /* Ensure it stays above other elements */
}

@media (max-width: 1400px) {
  .hidethem {
    visibility: hidden;
  }
}

@media (min-width: 1900px) {
.hidethem{
    visibility: hidden;
  }
}

#title{
  text-align: center;
  font-size: 56px;
  color: #5271ff;
  padding-top: 30px;
  margin: 0;
}

#hand-lines{
  width: 300px; 
  height: 100px;  
  margin: auto;
  margin-top: 20px;
}

#line-1{
  height: 12px;
  width: 270px;
  margin-left: 20px;
  transform: rotate(-4deg);
  background-color: #ffbd59;
  border-radius: 20px;
  animation: rotate 1s linear;
}

#line-2{
  height: 12px;
  width: 140px;
  margin-left: 100px;
  margin-top: 15px;
  transform: rotate(-3deg);
  background-color: #ffbd59;
  border-radius: 20px;
}

#line-3{
  height: 12px;
  width: 50px;
  margin-left: 150px;
  margin-top: 15px;
  background-color: #ffbd59;
  border-radius: 20px;
}

#s1{
  width: 1100px;
  height: 1000px;
  margin: auto;
  border-radius: 70px;
  display: flex;
  justify-content: space-between;

}
#s1s1{
  position: relative;
  width: 50%;
  height: 100%;


}

#s1s2{
  position: relative;
  width: 50%;
  height: 100%;
}
#first-title{
  margin-top: 8rem ;
  padding-left: 70px;
  color: #5271ff;
}

#about{
  padding-left: 70px;
  padding-top: 1rem;
  padding-right: 70px;
  font-size: 22px;

}
#doubles{
  position: absolute;
  top:-40px;
  width: 150px;
  margin-left: 22.5em;
  z-index:-1
}
#mypic{
  display: flex;
  margin: auto;
  margin-top: 3rem;
  justify-content: center;
  width: 300px;
  background-color: black;
  border-radius: 30px;
}

#cuvednode{
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 20px;
}

#logos{
  list-style-type: none;
  position: relative;
  right: 180px;
  display: flex;
}


#github{
  width: 105px;
  height: 105px;
  margin: 20px;
  position: relative;
  bottom: 2px;
}
#linkedin{
  height: 100px;
  width: 100px;
  margin: 20px;
  border-radius: 20px;
}
#linkedin:hover{
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#github:hover{
  filter: drop-shadow(0 0 2em black);
}

#line{
  width: 900px;
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.second-section{
  display: flex;
  justify-content: center;
  position: relative;
  left: 450px;
  
}

#doubleStars{
  width: 200px;
  height: 150px;
  position: relative;
  left: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#discovery{
  width: 160px;
  height: 300px;
  position: relative;
  top: 300px;
  left: 250px;
}
#sub-title{
  text-align: center;
  font-size: 42px;
  color: #5271ff;
  margin-top: 200px;

}
#subtitle{
  text-align: center;
  font-size: 42px;
  color: #5271ff;
  padding: 0;
  margin: 0;
}

#randoms{
  list-style: none;
  position: relative;
  right: 1100px;
  top: 300px;
}

.random{
  width: 200px;
}

#random-1{
  transform: rotate(52deg);
}
#random-2{
  transform: rotate(223deg);
  position: relative;
  left: 94px;
  bottom: 65px;

}
#random-3{
  transform: rotate(50deg);
  position: relative;
  left: 37px;
  bottom: 19px;

}
#random-4{
  transform: rotate(227deg);
  position: relative;
  left: 128px;
  bottom: 81px;
}


.s2{
  position: relative;
  width: 900px;
  right: 1350px;
  top: 500px;
  font-size: 15px;
}

#f1-ex{
  position: relative;
  left: 450px;
  bottom: 110px;
}
#f1-ex1{
  position: relative;
  right:240px;
  top: 80px;
  padding-bottom: 30px;
}

#f2-ex{
  position: relative;
  bottom: 100px;
  left: 750px;
}
#f2-ex2{

  position: relative;
  top: 80px;
  right:240px;
  padding-bottom: 30px;
  margin-bottom: 0;
}
.line-s{
  position: relative;
  top: 300px;
}
#unexpect{
  width:150px;
  margin: 20px;
  position: relative;
  left: 1200px;
  bottom: 80px;
}

#f3-ex{
  position: relative;
  left: 600px;
  bottom: 220px;
  
}
#f2-ex3{
  position: relative;
  top: 80px;
  right:240px;
  padding-bottom: 30px;
  
}
#third-section{
  margin-top: 350px;
}
.skills{
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
}
.line-skill{
  width: 500px;
  margin-top: -100px;
}
#line-skill-1{
  position: relative;
  right: 200px;
}
#line-skill-2{
  position: relative;
  right: 230px;
}
#line-skill-3{
  position: relative;
  right: 170px;
}
#line-skill-4{
  position: relative;
  right: 60px;
}
#cyrcle{
  display: flex;
  justify-content: space-evenly;

}
.cyrcle{
  width: 320px;
  margin-top: 70px;
}
#text-cyrcle{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 140px;
  font-size: 20px;
}
#text-cyrcle-1{
  position: relative;
  right: 35px;
}
#text-cyrcle-2{
  position: relative;
  left: 10px;
}
#text-cyrcle-3{
  position: relative;
  left: 40px;
}
#notebooks{
  width: 250px;
  position: absolute;
  right:70px;
}
#courses{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 260px;
}
.course{
  width: 150px;
  margin-top: 23px;
}

#text-courses{
  font-size: 20px;
  text-align: center;
}
.text-course{
  margin-top: 50px;
}
#curveds{
  display: flex;
  align-items: center;
  justify-content: center;
}
.curved{
  width: 250px;
}

#curved-1{
  transform: scaleX(-1);
}

.anoth-cyrcle{
  width: 400px;
  position: relative;
  bottom: 70px;
  margin-bottom: 0;
}

#text-cyrcle-2{
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.lang-cyrcle-1{
  position: relative;
  right: 175px;
  margin-bottom: 0;
}
.lang-cyrcle-11{
  position: relative;
  font-size:25px;
  right: 280px;
  top: 80px;
  margin-bottom: 0;
}
.lang-cyrcle-21{
  position: relative;
  font-size:25px;
  left: 140px;
  top: 80px;
  margin-bottom: 0;
}
.lang-cyrcle-2{
  position: relative;
  left: 250px;
  margin-bottom: 0;

}
#lang-cyrcle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  position: relative;
  bottom: 300px;
}
.Activites{
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}
#simple{
  width: 170px;
  position: relative;
  right: 450px;
  bottom: 100px;
}

#smile{
  width: 170px;
  position: relative;
  left: 500px;
  bottom: 200px;
}
